@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	outline:none;
}

body, html, #root{
	height:100%;
}

body {
	background:#1f1f1f;
	-webkit-font-smoothing:antialiased;
}

body, input, button {
	font-family: Roboto, sans-serif;
}